*{
    padding: 0;
    margin: 0;
    
}
body{
    background: #ff1e56;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1e90ff, #f9c942, #ff1e56);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1e90ff, #f9c942, #ff1e56); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
/*网站栏**网站栏**网站栏**网站栏**网站栏**网站栏**网站栏**网站栏**网站栏*/
a{
    text-decoration: none;
}
a:link{
    color: black;
}
a:visited{
    color: black;
}
.wangzhanlan{
    display: flex;
    width:100%;
    height:29; 
    flex-direction: row;
    justify-content: flex-start;
    background-color: #d7dfe2;
}
.wangzhanlan span{
    width: 67px;
    height: 28px;
    margin-left: 40px;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 5px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #d7dfe2;
}
/*动画：斜切**动画：斜切**动画：斜切**动画：斜切**动画：斜切**动画：斜切**动画：斜切*/
.wangzhanlan span:hover{
    transform:skew(150deg);
    background-color:#f47153;
    color: white;
}
a:hover{
    transform:skew(150deg);
    background-color:#f47153;
    color: white;
}
/*网站内容**网站内容**网站内容**网站内容**网站内容**网站内容**网站内容**网站内容*/
.color{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.content{
    background-color: #e8e5de;
    width: 1447px;
    height:611px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
/* --功能侧栏----功能侧栏----功能侧栏----功能侧栏----功能侧栏----功能侧栏- */
.side_column{
    width:334px;
    height:611px;
    background-color: red;
    /* background-color: #e8e5de; */
    display: flex;
    flex-direction: column;
   align-items: center;

}
/* <!--头像----头像----头像----头像----头像----头像----头像-->
 */
.face{
    margin-top: 20px;
}
.face img{
    width:200px ;
    height:200px ;
    border-radius: 50%;

}
/* -- 最新照片 ---- 最新照片 ---- 最新照片 ---- 最新照片 ---- 最新照片 -- */
.new_picture{
    width:334px ;
    height: 33px;
    margin-top: 12px;
    background-color: #f36d50;
    font-weight: bolder;
    font-family: "Microsoft Yahei";
    line-height: 30px;
}
/* 照片<!-- 照片 --- 照片 -- 照片 -- 照片 -- 照片 -- 照片 -- 照片 -- 照片 -->*/
.little_picture img{
    width: 70px;
    height: 70px;
}
.little_picture{
    margin-left: 18px;
    margin-top: 12px;
}
/* 小调查<!-- 小调查 ---- 小调查 ---- 小调查 ---- 小调查 ---- 小调查 ---- 小调查 -->*/
.survey{
    width:334px;
    height:33px;
    background-color: #f36d50;
    font-weight: bolder;
    font-family: "Microsoft Yahei";
    line-height: 30px;
    margin-top: 10px;
}
/* <!-- 调查表单 ---- 调查表单 ---- 调查表单 ---- 调查表单 ---- 调查表单 --> */
.form{
    margin-left: -122px;
    margin-top: 3px;
}
/* <!-- 主要内容 ---- 主要内容 ---- 主要内容 ---- 主要内容 ---- 主要内容 ---- 主要内容 --> */
.main{
    width: 1112px;
    height: 611px;
    background-color: #ffffff;
    margin-left:0px;
}
/* 标题标题、标题标题标题标题标题标题、标题标题标题标题、 */
.tittle{
    font-size: 50px;
}
/* 图片 */
.word img{
    width: 200px;
    height: 200px;
    margin-left: 427px;
}
.word{
    font-size: 25px;
    font-family:"Microsoft Yahei";
    padding-left: 23px;
    padding-right: 16px;
}
/* 底部 ** 底部 ** 底部 ** 底部 ** 底部 ** 底部 ** 底部 ** 底部 */
.bottom{
    width:100%;
    height: 57px;
    background-color: black;
    color: coral;
    text-align: center;
    margin-top: 1px;
    line-height: 47px;
}

.print{
    width: 1519px;
    height: 53px;
    background-color: coral;
}
/* in,on, */
.in,.on{
    cursor:pointer;
}


